
@{
    ViewBag.Title = "List";
}



<h2>List</h2>

@Ajax.ActionLink("Countries", "GetCountry", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listdiv"

})
@Ajax.ActionLink("State", "GetState", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listdiv"

})
@Ajax.ActionLink("City", "GetCity", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listdiv"

})


<div id="listdiv">

</div>

